<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <title>TraineeTask</title>
</head>


<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">
                Login </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <h2>Welcome <span sec:authentication="principal.username"> User</span> to the test task </h2>

    <h3><span> Choose what you need to do:</span></h3>


</div>

<br>
<br>
<div class="text-center">
    <!-- тема primary -->
    <div class="form-group">

        <a href="/newTask">
            <button type="button" class="btn btn-primary">Add new task</button>
        </a>


        <a th:href="'/showShareTask'">
            <button type="button" class="btn btn-success">Share the task</button>
        </a>

        <!-- тема danger -->
        <a href="/showAll">
            <button type="button" class="btn btn-warning">See all tasks</button>
        </a>

    </div>
</div>


<ul th:each="task : ${allies}">
    <li> Description task:
        <a th:href="'/task/' + ${task.id}" th:text=" '' + ${task.describeTask} + ' '"></a>
        <a th:href="@{/edit/{id}(id=${task.id})}">
            <button type="button" class="btn btn-warning">Edit task</button>
        </a>

    </li>


</ul>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>
